.user-card {
  display: flex;
  align-items: center;
}

.user-photo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.post {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.post-comments {
  margin-top: 15px;
  border: 1px solid #ccc;
  padding: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.back,
button,
input[type="submit"] {
  background-color: #6f4caf;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #8677c7;
}

a {
  color: #337ab7;
}

a:hover {
  text-decoration: underline;
}
